.small-card__container{
  border-bottom: solid snow 2px;
  height: 150px;
  width: 750px;
  display: flex;
  flex-direction: row;
  margin-bottom: 3%;
}

.small-card__photo > img{
  height: 20vh;
  width: 30vh;
}

.small-card__photo{
  margin-right: 5%;
  margin-bottom: 2%;
}

.small-card__title{
  display: flex;
  justify-content: center;
  align-items: center;
}
