<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="articles__container">
  <div class="articles__main">
    <app-big-card
      cardPhoto="https://th.bing.com/th/id/OIP.AS3iDYcu44Nc7YpQF6fJQgHaEK?w=310&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7"
      cardTitle="How Lewandowski scored 5 goals in 9 minutes"
      cardDescription="Robert Lewandowski scored five goals in nine minutes after coming on as a
      substitute for Bayern Munich in their Bundesliga victory against
      Wolfsburg. Bayern trailed 1-0 at half-time"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      cardPhoto="https://th.bing.com/th/id/OIP.bODdeISstG9t9fkcR7rWlgHaFX?w=249&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7"
      cardTitle="The Ayrton Senna`s first car"
    ></app-small-card>
    <app-small-card
      cardPhoto="https://th.bing.com/th/id/OIP.k1HSdTOPgaB0Q6CDxocZfwHaFc?w=238&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7"
      cardTitle="Kaká and Cristiano in Spain"
    ></app-small-card>
    <app-small-card
      cardPhoto="https://th.bing.com/th/id/OIP.evNiS5ok6RYzfiTIFHI6gQHaE8?w=259&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7"
      cardTitle="Djokovic win again!"
    ></app-small-card>
  </div>
</div>
