.menu-bar__container{
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

.menu-bar__container > ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu-bar__container > ul > li{
  list-style: none;
  margin-right: 25px;
}

hr{
  width: 99vw;
  margin-bottom: 2%;
}
