/* You can add global styles to this file, and also import other style files */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #111111;
  color: whitesmoke;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
  text-decoration: none;
}
